.all-reviews {
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    header {
      display: flex;
      flex-direction: column;
      align-self: baseline;
      margin-left: 15%;

      .reviewer-info {
        display: flex;

        div {
          display: flex;
          flex-direction: column;

          .reviewer {
            font-size: 18px;
            margin-bottom: 10px;
          }
        }
      }
    
      .review-picture {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }

      p {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        width: 70vw;

        span {
          font-size: 12px;
        }
      }
    }

    .review-body {
      width: 70%;
      font-size: 15px;
    }

    footer {
      display: flex;
      width: 50%;
      justify-content: space-between;
      margin-bottom: 15px;

      span {
        display: flex;
        align-items: center;
      }
    }

    .user-review-buttons-span {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .user-review-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;

        button {
          width: 100px;
        }
      }
    }
  }
}
