.all-reviews {
  h2 {
    text-align: center;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    footer {
      display: flex;
      width: 300px;
      margin-bottom: 15px;
      align-self: baseline;

      span {
        display: flex;
        align-items: center;
        margin-right: 10px;
      }
    }

    header {
      display: flex;
      flex-direction: column;
      align-self: baseline;
      margin-left: 15%;

      .reviewer-info {
        display: flex;

        div {
          display: flex;
          flex-direction: column;

          .reviewer {
            font-size: 18px;
            margin-bottom: 10px;
          }
        }
      }

      .review-picture {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }

      p {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        width: 70vw;

        span {
          font-size: 12px;
        }
      }
    }

    .review-body {
      width: 70%;
      max-width: none;
      font-size: 15px;
    }

    .user-review-buttons-span {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .user-review-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;

        button {
          width: 100px;
        }
      }
    }
  }
}

@media screen and (width >= 602px) {
  .all-reviews {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;

    h2 {
      width: 100vw;
      text-align: center;
    }

    article {
      width: 400px;
    }
  }
}
