.contractor-info-section {
  padding-bottom: 30px;

  section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      font-size: 25px;
    }

    .average-rating {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;

      div {
        display: flex;
        align-items: center;

        .review-count {
          margin-left: 10px;
        }
      }

      button {
        width: 175px;
        margin-top: 15px;
      }
    }

    img {
      border-radius: 50%;
      height: 250px;
      width: 250px;
    }

    p {
      max-width: 80%;
    }
  }
}

@media screen and (width >= 602px) {
  .contractor-info-section {
    section {
      h1 {
        font-size: 30px;
      }

      img {
        width: 350px;
        height: 350px;
      }

      p {
        max-width: 60%;
      }
    }
  }
}
