.contractor-info-section {
  section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

    h1 {
      text-align: center;
      font-size: 25px;
    }

    .average-rating {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        display: flex;
        align-items: center;

        .review-count {
          margin-left: 10px;
        }
      }

      button {
        width: 175px;
        margin: 15px 0;
      }
    }

    img {
      border-radius: 50%;
      height: 250px;
      width: 250px;
    }

    p {
      max-width: 80%;
    }
  }
}
