.contractor-info-section {
  padding-bottom: 30px;

  .contractor-info {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      font-size: 25px;
    }

    .average-rating {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;

      div {
        display: flex;
        align-items: center;

        .review-count {
          margin-left: 10px;
        }
      }

      button {
        width: 175px;
        margin-top: 15px;
      }
    }

    .contractor-info-article {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        border-radius: 50%;
        height: 250px;
        width: 250px;
      }

      .contractor-info-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        .bio {
          max-width: 80vw;
        }
      }
    }
  }
}

@media screen and (width >= 602px) {
  .contractor-info-section {
    .contractor-info {
      h1 {
        font-size: 30px;
      }

      .contractor-info-article {
        flex-direction: row;
        justify-content: space-around;
        align-items: normal;
        width: 100vw;

        img {
          width: 350px;
          height: 350px;
        }

        .contractor-info-text {
          min-width: 50vw;
          max-width: 60vw;

          .bio {
            min-width: 50vw;
            max-width: 60vw;
            align-self: normal;
            padding: 20px;
          }
        }
      }
    }
  }
}
