.edit-user {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

  .edit-user-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
  }
}
