.email-form-section {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11000;

  .email-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px 0;

    .email-buttons {
      display: flex;
      flex-direction: row;
      width: 80%;
      justify-content: space-between;
    }

    div {
      border-radius: 0;
      width: 80%;

      div {
        width: 100%;
      }
    }

    .email-sent {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        text-align: center;
      }
    }
  }
}

@media screen and (width >= 602px) {
  .email-form-section {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

    .email-form {
      min-width: 400px;
      max-width: 600px;
      width: 60vw;
      height: auto;

      h2 {
        margin-top: 0;
      }
    }
  }
}
