.homepage-section {
  h1 {
    text-align: center;
    font-size: 30px;
  }

  article {
    display: flex;
    flex-direction: column;

    .all-contractors {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .one-contractor {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        img {
          border-radius: 50%;
          height: 200px;
          width: 200px;
          object-fit: cover;
        }

        span {
          margin: 5px;
        }

        br {
          display: none;
        }
      }
    }
  }
}

@media screen and (width >= 602px) {
  .homepage-section {
    article {
      .all-contractors {
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        .one-contractor {
          margin: 20px;
        }
      }
    }
  }
}
