.login-page-section {
  display: flex;
  flex-direction: column;
  align-content: center;

  h1 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 166px;

    div {
      border-radius: 0;
    }

    button {
      border-color: black;
      border-radius: 0;
      color: black;
    }
  }
}
