.signup-page-section {
  h1 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 410px;

    button {
      border-color: black;
      border-radius: 0;
      color: black;
    }

    div {
      margin-bottom: 10px;
      border-radius: 0;

      span {
        font-size: 20px;
      }
    }

    .profile-picture-upload {
      display: flex;
      align-items: center;
      flex-direction: column;

      h2 {
        font-size: 20px;
        margin: 10px;
        margin-top: 0;
      }

      button {
        font-size: 20px;
        background-color: transparent;
        border-radius: 0;
        border: 1px solid black;
        margin-right: 10px;
      }
    }
  }
}
